<header class="lux">
  <library-header app-name="<%= application_name %>" app-url="<%= root_path %>" max-width="1400">
      <div class="cart-view-toggle-block">
        <cart-view-toggle></cart-view-toggle>
      </div>
      <%= render partial: 'shared/header_menu_dropdown' %>
  </library-header>
  <banner>
  <p>The Special Collections Research Account system will be updated on Thursday, August 31, 2023. 
    No requests for material can be made from 5pm on Wednesday, August 30 through Thursday, August 31 
    in the catalog or finding aids database. If you are visiting Special Collections during this time, 
    we can make manual requests for you in person and still retrieve your material. Thank you for your 
    patience while we update these important systems.
  </p>
</banner>
  <% unless params[:action] == 'error' || params[:action] == 'generate' %>
    <div class="header__secondary<%= " py-lg-5 home-header" if on_home_page? %>">
      <nav class="container" role="navigation">
        <% if on_home_page? %>
          <div class="row pt-lg-5">
            <h1 class="ml-auto mr-auto">Explore Princeton University Library's Archival Collections</h1>
          </div>
        <% end %>
        <div class="row<%= " pb-lg-5 pb-2" if on_home_page? %>">
          <div id="search-navbar" class="search-navbar col-md-9 mx-md-auto" role="search">
            <%= render_search_bar %>
          </div>
        </div>
      </nav>
    </div>
  <% end %>
  <div class="request-cart-block">
    <request-cart
      :configuration="<%= JSON.generate(url: Pulfalight.config["aeon_url"]) %>"
    >
    </request-cart>
  </div>
</header>
