<header class="lux">
  <lux-banner>
    <p>
      <lux-icon-base width="16" height="16" icon-name="alert" icon-color="red">
        <lux-icon-alert></lux-icon-alert>
      </lux-icon-base>
      The Seeley G. Mudd Manuscript Library will be closed to the public the week of June 2-6 to conduct scheduled work within the building. For all other holidays and closures, please visit the <lux-hyperlink href="https://library.princeton.edu/hours">Library Hours page</lux-hyperlink>.
    </p>
  </lux-banner>
  <lux-library-header app-name="<%= application_name %>" app-url="<%= root_path %>" max-width="1400">
      <div class="cart-view-toggle-block">
        <cart-view-toggle></cart-view-toggle>
      </div>
      <%= render partial: 'shared/header_menu_dropdown' %>
  </lux-library-header>
  <% unless params[:action] == 'error' || params[:action] == 'generate' %>
    <div class="header__secondary<%= " py-lg-5 home-header" if on_home_page? %>">
      <nav class="container" role="navigation">
        <% if on_home_page? %>
          <div class="row pt-lg-5">
            <h1 class="ml-auto mr-auto">Explore Princeton University Library's Archival Collections</h1>
          </div>
        <% end %>
        <div class="row<%= " pb-lg-5 pb-2" if on_home_page? %>">
          <div id="search-navbar" class="search-navbar col-md-9 mx-md-auto" role="search">
            <%= render Pulfalight::SearchBarComponent.new(
              url: search_action_url,
              params: search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8).merge(f: (search_state.params_for_search[:f] || {}).except(:collection_sim), group: true),
              autocomplete_path: suggest_index_catalog_path
            ) %>
          </div>
        </div>
      </nav>
    </div>
  <% end %>
  <div class="request-cart-block">
    <request-cart
      :configuration="<%= JSON.generate(url: Pulfalight.config["aeon_url"]) %>"
      :global-form-params="<%= AeonRequest.global_form_params.to_json %>"
    >
    </request-cart>
  </div>
</header>
