<header class="lux">
  <banner>
    <h2>Fall Semester Announcements</h2>
    <p>We’re currently in beta for students and will be introducing faculty, advisor and staff functionality in the coming months.</p>
  </banner>
  <library-header app-name="<%= application_name %>" app-url="<%= root_path %>" max-width="1400">
    <div class="menu--level-1 d-none d-md-block col-md-2 col-lg-3">
      <div class="cart-view-toggle-block">
        <cart-view-toggle></cart-view-toggle>
      </div>
      <ul>
        <%= render partial: 'shared/header_account_dropdown' %>
      </ul>
    </div>
  </library-header>
  <% unless params[:action] == 'error' || params[:action] == 'generate' %>
    <div class="header__secondary<%= " py-lg-5 home-header" if on_home_page? %>">
      <nav class="container" role="navigation">
        <% if on_home_page? %>
          <div class="row pt-lg-5">
            <h1 class="ml-auto mr-auto">Explore Princeton's Archival Collections</h1>
          </div>
        <% end %>
        <div class="row<%= " pb-lg-5 pb-2" if on_home_page? %>">
          <div id="search-navbar" class="search-navbar col-md-9 mx-md-auto" role="search">
            <%= render_search_bar %>
          </div>
        </div>
      </nav>
    </div>
  <% end %>
  <div class="request-cart-block">
    <request-cart
      :configuration="<%= JSON.generate(url: Pulfalight.config["aeon_url"]) %>"
    >
    </request-cart>
  </div>
</header>
