<% parents = Arclight::Parents.from_solr_document(document).as_parents %>
<nav class="breadcrumbs" aria-label="breadcrumb">
  <span class="media breadcrumb-item breadcrumb-item-1">
      <% if document.repository_config.present? %>
        <%= link_to(document.repository_config.name, arclight_engine.repository_path(document.repository_config.slug), class: "media breadcrumb-item breadcrumb-item-1" ) %>
      <% else %>
        <%= t('arclight.show_breadcrumb_label') %>
      <% end %>
    </span>
    <% parents.each_with_index.map do |parent, index| %>
      <%= content_tag :span, class: "breadcrumb-item breadcrumb-item-#{index + 1} media" do %>
        <%= link_to parent.label, solr_document_path(parent.global_id), class: "breadcrumb-item breadcrumb-item-#{index + 1} media" %>
      <% end %>
    <% end %>

  <%= content_tag :span, class: "breadcrumb-item breadcrumb-item-#{parents.length + 2} breadcrumb-item-leaf media" do %>
    <span class=""><%= document.normalized_title %></span>
  <% end %>
</nav>
