<div class="overview">
  <div class="lux document-title">
    <h3><%= document.normalized_title %></h3>
    <div class="document-attributes">
      <% if document.extent.present? %>
        <div class="document-extent">
          <span><%= document.extent %></span>
        </div>
      <% end %>
    </div>
  </div>
  <% if document.direct_digital_objects.present? && document.direct_digital_objects.first.role.present? %>
    <%= render_universal_viewer %>
  <% else%>
    <div id="readingroom"></div>
  <% end %>
  <% if display_simple_link? %>
    <%= render_simple_link %>
  <% end %>
  <%= render(partial: 'show_upper_metadata_default') %>
</div>
