<div class="overview", data-component-id="<%= document.refs.first %>">
  <div class="lux document-title">
    <h2><%= document.normalized_title %></h2>
    <div class="document-attributes">
      <% if document.extent.present? %>
        <div class="document-extent">
          <span><%= document.extent %></span>
        </div>
      <% end %>
      <%= link_to OnlineContentBadge.new(document).render, "/catalog?f[parent_unittitles_ssim][]=#{document["normalized_title_ssm"].first}&f[has_direct_online_content_ssim][]=online" %>
      <%= render partial: "restricted_badge", locals: { document: document, with_link: false } %>
    </div>
  </div>
  <%= render "shared/viewer" %>
  <%= render(partial: 'show_upper_metadata_default') %>
  <%= render(partial: "show_child_table") %>
</div>
