<div class="overview">
  <div class="lux document-title">
    <h2><%= document.normalized_title %></h2>
    <div class="document-attributes">
      <% if document.extent.present? %>
        <div class="document-extent">
          <span><%= document.extent %></span>
        </div>
      <% end %>
      <%= render partial: "restricted_badge", locals: { document: document } %>
    </div>
  </div>
  <% if display_simple_link? %>
    <%= render_simple_link %>
  <% else %>
    <div id="readingroom"></div>
  <% end %>
  <%= render(partial: 'show_upper_metadata_default') %>
  <%= render(partial: "show_child_table") %>
</div>
