<div class="overview", data-component-id="<%= document.refs.first %>">
  <div class="lux document-title">
    <h2><%= document.normalized_title %></h2>
    <div class="document-attributes">
      <% if document.extent.present? %>
        <div class="document-extent">
          <span><%= document.extent %></span>
        </div>
      <% end %>
      <%= OnlineContentBadge.new(document).render %>
      <%= render partial: "restricted_badge", locals: { document: document } %>
    </div>
  </div>
  <% if document.render_panopto? %>
    <%= render(partial: 'panopto_viewer', locals: { document: document }) %>
  <% end %>
  <% if display_simple_link? %>
    <%= render_simple_link %>
  <% else %>
    <%# This is the viewer container %>
    <%# If it's a figgy DAO, put data in this div %>
    <div id="readingroom" class="lux">
      <figgy-viewer component-id="<%= document.refs.first %>" dao-link="<%= document.figgy_digital_objects.first&.href %>" dao-label="<%= document.figgy_digital_objects.first&.label %>" />
    </div>
  <% end %>
  <%= render(partial: 'show_upper_metadata_default') %>
  <%= render(partial: "show_child_table") %>
</div>
