<div class="tab-content">

  <nav class="navbar sticky-top">
    <div class="row lux">
      <div class="col-md-3">
        <% if @document.aeon_request.requestable? %>
          <add-to-cart-button
            class="add-to-cart-block row"
            <% @document.aeon_request.attributes.each_pair do |key, value| %>
              <% unless value.nil? || value.empty? %>
                <%= key %>="<%= value %>"
              <% end %>
            <% end %>
            :form-params="<%= JSON.generate(@document.aeon_request.form_attributes) %>"
            >
            <lux-icon-base class="col-2" icon-name="add-to-cart" width="20" height="20">
                <add-to-cart-icon></add-to-cart-icon>
            </lux-icon-base>
            <span class="col-10">
              Request this box
            </span>
          </add-to-cart-button>
        <% end %>
      </div>
      <div class="col-md-3">
        <input-button class="row" id="question-button" type="button" variation="text" data-toggle="modal" data-target="#questionModal">
          <lux-icon-base class="col-2" icon-name="question" width="16" height="16">
              <lux-icon-question></lux-icon-question>
          </lux-icon-base>
          <span class="col-10">
            Ask a question
          </span>
        </input-button>
        <%= render "question_modal" %>
      </div>
      <div class="col-md-3">
        <input-button class="row" id="correction-button" type="button" variation="text" data-toggle="modal" data-target="#correctionModal">
          <lux-icon-base class="col-2" icon-name="exclamation" width="16" height="16">
              <lux-icon-exclamation></lux-icon-exclamation>
          </lux-icon-base>
          <span class="col-10">
            Suggest a correction
          </span>
        </input-button>
        <%= render "correction_modal" %>
      </div>
      <div class="col-md-3">
        <input-button id="harmful-language-button" class="row" type="button" variation="text" data-toggle="modal" data-target="#harmfulLanguageModal">
          <lux-icon-base class="col-2" icon-name="exclamation" width="16" height="16">
              <lux-icon-exclamation></lux-icon-exclamation>
          </lux-icon-base>
          <span class="col-10">
            Report Harmful Language
          </span>
        </input-button>
        <%= render "harmful_language_modal" %>
      </div>
    </div><!-- .row -->
  </nav>

  <% unless document.collection? %>
    <div class='tab-pane' id='component-summary' role='tabpanel'>
      <%= render(partial: 'component_summary') %>
    </div>
  <% end %>

    <div class='tab-pane' id='summary' role='tabpanel'>
      <div class="document-title">
        <h2>Collection Overview</h2>
      </div>
      <%= render(partial: 'collection_summary') if document.collection? %>
    </div>

    <div class='tab-pane' id='description' role='tabpanel'>
      <div class="document-title">
        <h2>Collection Description &amp; Creator Information</h2>
      </div>
      <%= render(partial: 'collection_description') %>
    </div>
    <div class='tab-pane' id='collection-history' role='tabpanel'>
      <div class="document-title">
        <h2>Collection History</h2>
      </div>
      <%= render(partial: 'collection_history') %>
    </div>

    <div class='tab-pane' id='access' role='tabpanel'>
      <div class="document-title">
        <h2>Access &amp; Use </h2>
      </div>
      <%= render(partial: 'collection_access') %>
    </div>

    <div class='tab-pane' id='find-more' role='tabpanel'>
      <div class="document-title">
        <h2>Find More</h2>
      </div>
      <%= render(partial: 'collection_find_more') %>
    </div>
  </div><!-- .tab-content -->
