<div class="tab-content">

  <% unless document.collection? %>
    <div class='tab-pane' id='component-summary' role='tabpanel'>
      <%= render(partial: 'component_summary') %>
    </div>
  <% end %>

  <div class='tab-pane' id='summary' role='tabpanel'>
    <div class="document-title">
      <h2>Collection Overview</h2>
    </div>
    <%= render(partial: 'collection_summary') if document.collection? %>
  </div>

  <div class='tab-pane' id='description' role='tabpanel'>
    <div class="document-title">
      <h2>Collection Description &amp; Creator Information</h2>
    </div>
    <%= render(partial: 'collection_description') %>
  </div>

  <div class='tab-pane' id='collection-history' role='tabpanel'>
    <div class="document-title">
      <h2>Collection History</h2>
    </div>
    <%= render(partial: 'collection_history') %>
  </div>

  <div class='tab-pane' id='access' role='tabpanel'>
    <div class="document-title">
      <h2>Access &amp; Use </h2>
    </div>
    <%= render(partial: 'collection_access') %>
  </div>

  <div class='tab-pane' id='find-more' role='tabpanel'>
    <div class="document-title">
      <h2>Find More</h2>
    </div>
    <%= render(partial: 'collection_find_more') %>
  </div>

  <nav class="navbar sticky-top lux">
      <% if @document.aeon_request.requestable? %>
        <div>
          <add-to-cart-button
              class="add-to-cart-block sticky-button"
              <% @document.aeon_request.attributes.each_pair do |key, value| %>
                <% unless value.nil? || value.empty? %>
                  <%= key %>="<%= value %>"
                <% end %>
              <% end %>
              :location="<%= JSON.generate(@document.aeon_request.location_attributes) %>"
              :form-params="<%= JSON.generate(@document.aeon_request.form_attributes) %>"
              >
              <lux-icon-base icon-name="add-to-cart" width="20" height="20">
                <add-to-cart-icon></add-to-cart-icon>
              </lux-icon-base>
              <span>
                Request This Box
              </span>
          </add-to-cart-button>
        </div>
      <% end %>
    <div>
      <lux-input-button id="question-button" class="sticky-button" type="button" variation="text" data-toggle="modal" data-target="#questionModal">
        <lux-icon-base icon-name="question" width="16" height="16">
          <lux-icon-question></lux-icon-question>
        </lux-icon-base>
        <span>
          Ask A Question
        </span>
      </lux-input-button>
      <%= render "question_modal" %>
    </div>
    <div>
      <lux-input-button id="correction-button" class="sticky-button" type="button" variation="text" data-toggle="modal" data-target="#correctionModal">
        <lux-icon-base icon-name="correction-button-exclamation" width="16" height="16">
          <lux-icon-exclamation></lux-icon-exclamation>
        </lux-icon-base>
        <span>
          Suggest A Correction
        </span>
      </lux-input-button>
      <%= render "correction_modal" %>
    </div>
  </nav>
</div><!-- .tab-content -->
