
<div class="collection title" aria-label="collection title">
  <%= content_tag :h1, class: "media" do %>
    <% if document.ead.present? %>
      <%= link_to solr_document_path(document.http_safe_ead), data: { turbolinks: "false" } do %>
        <span class="col"><%= document.collection.first %></span>
      <% end %>
    <% else %>
      <span class="col"><%= document.collection.first %></span>
    <% end %>
  <% end %>

  <div class="collection-id">
  <% if document.unitid %>
        <%= document.unitid %>
  <% elsif document.collection_unitid %>
      <%= document.collection_unitid %>
  <% else %>
      Unprocessed
  <% end %>

  </div>

  <div class="collection-attributes lux">
    <%= render partial: "restricted_badge", locals: { document: document } %>
    <% if document.has_digital_content? %>
      <div class="document-access online-content-banner">
        <span class="media-body al-online-content-icon" aria-hidden="true">
          <%= ActionController::Base.helpers.blacklight_icon(:online) %>
        </span>
        ONLINE ACCESS
      </div>
      <div class="slant"></div>
      <div class="banner-content">
          <span><%= OnlineContentBanner.new(document).render %></span>
          <a href="<%= search_catalog_path(f: { collection_sim: [document.collection_name], has_direct_online_content_ssim: ['online'] }) %>">
            <lux-icon-base width="14" height="14" icon-name="filter">
            <lux-icon-filter></lux-icon-filter>
          </lux-icon-base>
          View only online materials</a>
      </div>
    <% end %>
  </div>
</div>
