<% parents = Arclight::Parents.from_solr_document(document).as_parents %>

<div class='row'>
  <div class='col-md-12'>
    <!-- Tabs -->
    <%= render(partial: 'show_tabs') %>

    <!-- Contents and Arrangement -->
    <div id="toc-container" class="row content-container <%= "online-only" if params[:onlineToggle].to_s == "true" %>">
      <div class="col-md-4">
        <div class="toc-header">
          <div>
            <span class="text-uppercase">Contents and Arrangement</span>
          </div>
          <div class="toc-toggle">
            <a data-toggle="collapse" href="#toc" role="button">
              <span class="sr-only">Toggle</span>
              <span class="toggle-icon"></span>
            </a>
          </div>
        </div>
        <div class="toc-online-toggle al-online-content-icon">
          <%= blacklight_icon(:online) %>
          <label for="tocOnlineToggle" class="online-toggle-label">Only show materials containing online content</label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="tocOnlineToggle" <%= "checked" if params[:onlineToggle].to_s == "true" %>>
            <label class="custom-control-label" for="tocOnlineToggle"></label>
          </div>
        </div>
        <div id="toc" data-turbolinks-permanent class="collapse show"></div>
        <div id="toc-data" data-selected="<%= document.id %>"></div>
      </div>

      <div class="col-md-8">
        <%= render(partial: 'show_tab_panes') %>
      </div><!-- .col-md-8 -->

    </div><!-- .row.content-container -->
  </div>
</div>
