<% parents = Arclight::Parents.from_solr_document(document).as_parents %>

<div class='row'>
  <div class='col-md-12'>

    <!-- The content tab navigation -->
    <div class='row content-navigation'>
      <div class='col-md-12'>
        <ul class='nav nav-tabs nav-fill' role='tablist' aria-label='<%= t('arclight.views.show.tablist_nav') %>'>

          <li class='nav-item flex-fill'>
            <a class='nav-link active' data-toggle='tab' href='#summary' role='tab' aria-selected="true">
              Overview
            </a>
          </li>
          <li class='nav-item flex-fill'>
            <a class='nav-link ' data-toggle='tab' href='#description' role='tab'>
              Collection Description
            </a>
          </li>
          <li class='nav-item flex-fill'>
            <a class='nav-link ' data-toggle='tab' href='#collection-history' role='tab'>
              Collection History
            </a>
          </li>
          <li class='nav-item flex-fill'>
            <a class='nav-link ' data-toggle='tab' href='#access' role='tab'>
              <%= t 'arclight.views.show.access' %>
            </a>
          </li>
          <li class='nav-item flex-fill'>
            <a class='nav-link ' data-toggle='tab' href='#find-more' role='tab'>
              Find Related Materials
            </a>
          </li>
        </ul>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row.content-navigation -->

    <div class="row content-container">
      <div class="col-md-4">
        <div id="toc" data-turbolinks-permanent></div>
        <div id="toc-data" data-selected="<%= document.id %>"></div>
      </div>

      <div class="col-md-8">

        <div class="tab-content">

<nav class="navbar sticky-top">
        <div class="row">
          <div class="col-md-4">
            <a href="#request">
                <%= image_tag(asset_path('icon-request.svg')) %>
                Request this box
            </a>
          </div>

          <div class="col-md-4">
            <a href="#question">
              <%= image_tag(asset_path('icon-question.svg')) %>
              Ask a question
            </a>
          </div>

          <div class="col-md-4">
            <a href="#correction">
              <%= image_tag(asset_path('icon-correction.svg')) %>
              Suggest a correction
            </a>
          </div>
        </div><!-- .row -->
      </nav>

          <div class='tab-pane active' id='summary' role='tabpanel'>
            <%= render(partial: 'component_summary') %>
          </div>
          <div class='tab-pane' id='description' role='tabpanel'>
            <%= render(partial: 'collection_description') %>
          </div>
          <div class='tab-pane' id='collection-history' role='tabpanel'>
            <%= render(partial: 'collection_history') %>
          </div>

          <div class='tab-pane' id='access' role='tabpanel'>
            <%= render(partial: 'collection_access') %>
          </div>

          <div class='tab-pane' id='find-more' role='tabpanel'>
            <%= render(partial: 'component_find_more') %>
          </div>


        </div><!-- .tab-content -->
      </div><!-- .col-md-8 -->

    </div><!-- .row.content-container -->

  </div>
</div>
