<!DOCTYPE html>
<html>
  <head>
    <title>Princeton University Library Finding Aids</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="lux">
      <%= yield %>
    </div>
  </body>
</html>
